body {
    font-family: Georgia, Times, 'Times New Roman', serif;

     background-color: #e0a6e6;
    color: crimson;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(238, 169, 205);
    padding: 1rem;
    position:static;
    top: 0;
}
.nav-container {
    width: 90%;
    max-width 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.logo{
    color: rgb(193, 73, 145);
    margin: 0;
    font-size: 1.5rem;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}
.nav-links li a{
    color: darkorchid;
    text-decoration: none;
    font-weight: bold;
}
.nav-links li a:hover {
    text-decoration: underline;
}
.conatiner {
    width: 90%;
    max-width: 800px;
    margin: 2rem auto;
    background-color: chocolate;
    padding: 2rem;
    border-radius:10 px;
}
header {
    text-align: center;
    margin-bottom: 2rem;

}
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid crimson;
    margin-bottom: 1rem;
}