body {
    font-family: Georgia, Times, 'Times New Roman', serif;

     background-color: #e0a6e6;
    color: rgb(110, 5, 26);
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(238, 169, 205);
    padding: 1rem;
    position:static;
    top: 0;
}
.nav-container {
    width: 90%;
    max-width 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.logo{
    color: rgb(167, 25, 110);
    margin: 0;
    font-size: 1.5rem;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}
.nav-links li a{
    color: darkorchid;
    text-decoration: none;
    font-weight: bold;
}
.nav-links li a:hover {
    text-decoration: underline;
}
.conatiner {
    width: 90%;
    max-width: 800px;
    margin: 2rem auto;
    background-color: chocolate;
    padding: 2rem;
    border-radius:10px;
}
header {
    text-align: center;
    margin-bottom: 2rem;

}
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid crimson;
    margin-bottom: 1rem;
}
section {
    margin-bottom: 2rem;
}
section h2 {
    color: rgb(188, 9, 126);
    border-bottom: 2px dotted palevioletred;
    padding-bottom: 0.5rem;
}
a {
    color: palevioletred;
    text-decoration: none;
}
a:hover {
    text-decoration: double;
}
.project {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 1.5rem 0;
    transition: transform 0.3s;

}
.project img{
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}
.project:hover {
    transform: scale(1.02)
}
footer{
    text-align:center;
    color: bisque;
    font-size: 0.9rem;
    margin-top: 2rem;
}
.fade-in {
    animation: fadeIn 1.2s ease-in;
}
@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity:1;
        transform:translateY(0);

    }
}
@media (max-width: 600px) {
    .nav-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .project {
        flex-direction: column;
        align-items: flex-start;
    }
    .project img{
        width:100%
        height: auto;
    }
}